/* BASE
------------------------------------------- */ 
.content__title,
.content__sub-title,
.btn,
.service__title {
  font-family: 'Noto Serif';
}
.content__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(60, 24, bold, 50);
  font-style: Italic;
}
.content__sub-title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(90, 105, bold, 50);
}
.title__color--dark {
  color: #282F35;
}
.title__color--light {
  color: #FFFFFF;
}

/* HEADER 
--------------------------------------------*/
.header,
.header__item {
  font-family: 'Noto Serif';
  font-style: Italic;
  color: #FFFFFF;
}
.header__item > a {
  color: #FFFFFF;
}
.header__logo {
  // //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(26, 36, Bold, 50);
}

/* FV 
--------------------------------------*/ 
.fv__title {
  font-family: "Noto Serif";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(70, 91, bold, 50);
  color: #FFFFFF;
}
.fv__sub-title {
  font-family: "Noto Serif JP";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(40, 50, bold, 50);
  color: #FFFFFF;
}

/* CONCEPT 
------------------------------------------ */ 
.concept__lead,
.concept__text {
  font-family: "Noto Serif JP";
  color: #171717;
}
.concept__lead {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(30, 50, bold, 50);
}
.concept__text {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(16, 30, bold, 50);
}

/* WORKS
------------------------------------------ */
.btn {
  @include f_around(16, 16, bold, 50);
  color: #171717;
}

/* SERVICE
------------------------------------------ */
.item__title {
  @include f_around(40, 50, bold, 50);
  font-style: Italic;
  color: #FFFFFF;
}

/* CONTACT
------------------------------------------ */
.contact__text {
  font-family: "Noto Serif JP";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(20, 24, bold, 50);
  color: #FFFFFF;
}