#fv {
  padding-top: 10px;
}
.header__wrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: background-color 1s;
}
.header__wrapper.js__scroll__head {
  background-color: #282F35;
  transition: background-color 1s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 30px;
}