.contact__bg {
  background: url(/img/contact-bgi@2x.jpg) no-repeat center / cover;
  height: 666px;
}
.contact__wrapper {
  padding-top: 109px;
}
.contact__wrap {
  margin-top: 80px;
}
.contact__text {
  text-align: center;
}
.contact__btn {
  margin-top: 40px;
}