#concept {
  margin-top: 100px;
  padding-bottom: 70px;
}
.concept__wrapper {
  max-width: 1100px;
  margin: 0 0 0 auto;
}
.concept__lead {
  text-align: center;
  margin: 70px 0 60px;
}
.concept__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.concept__text {
  max-width: 440px;
}
.concept__img {
  max-width: 440px;
  img {
    width: 100%;
    height: auto;
  }
}
.content__sub-title {
  text-align: right;
  padding: 47px 0;
  margin-top: 70px;
}