.fv__bg {
  background: url(/img/fv-bgi_01@2x.jpg) no-repeat center / cover;
  height: 752px;
  position: relative;
}
.fv__content {
  position: absolute;
  z-index: 1;
  left: 120px;
  top: 409px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.fv__title {
  margin-bottom: 31px;
}

@include mq-down($breakpoint: md) {
  .fv__bg {
    height: 599px;
    display: flex;
  }
  .fv__sub-title {
    max-width: 312px;
  }
  .fv__content {
    min-width: 348px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 58% auto;
  }
  .fv__title {
    margin-bottom: 59px;
  }
}