.service__wrapper {
  padding: 100px 0 70px;
}
.service__title {
  margin-bottom: 80px;
}
.service__list {
  display: flex;
  margin: 0 auto;
}
.service__item {
  position: relative;
  z-index: 1;
  max-width: 480px;
  background: #282F35;
  overflow: hidden;
  img {
    width: 100%;
  }
  > a {
    display: block;
  }
  > a:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
    border: 1px solid #707070;
  }
}
.item__title {
  position: absolute;
  top: 40%;
  left: 30%;
}

/* -----------------------------------------
              SP画面
------------------------------------------ */ 
@include mq-down($breakpoint: md) {
  .service__wrapper {
    padding-bottom: 64px;
  }
  .service__list {
    display: flex;
    flex-direction: column;
  }
  .service__item {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100vw;
    max-width: 100%;
    height: 250px;
    a {
      height: 100%;
    }
    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
  .service__img {
    height: 250px;
  }
  .item__title {
    position: absolute;
    top: 40%;
    left: 38%;
  }
  
}