.service__wrapper {
  padding: 100px 0 70px;
}
.service__title {
  margin-bottom: 80px;
}
.service__item {
  position: relative;
  z-index: 1;
  max-width: 480px;
  background: #282F35;
  overflow: hidden;
  img {
    width: 100%;
  }
  > a {
    display: block;
  }
  > a:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
    border: 1px solid #707070;
  }
}
.item__title {
  position: absolute;
  top: 135px;
  left: 135px;
}